<div class="main--block">
    <div class="header--block">
        <app-header></app-header>
    </div>
    <div class="body--block">
        <div class="side--nav">
            <div class="notes--block">
                <div class="note--header">
                    <h2>New Note</h2>
                </div>
                <div class="description">
                    <p>2:34 PM no additioanl text</p>
                </div>
            </div>
            <div class="notes--block">
                <div class="note--header">
                    <h2>New Note</h2>
                </div>
                <div class="description">
                    <p>2:34 PM no additioanl text</p>
                </div>
            </div>
        </div>
    </div>
</div>